.gradle/
build/
cache/
libraries/
versions/
test-server/cache/
test-server/libraries/
test-server/versions/
test-server/world/
test-server/world_nether/
test-server/world_the_end/
test-server/logs/
test-server/crash-reports/
test-server/usercache.json
test-server/whitelist.json
test-server/ops.json
test-server/plugins/BlockProtect/

